body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  background: #C5DDEB;
}

.chat {
  width: 100%;
  max-width: 500px;
  height: 800px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  background: #fff;
}

.messages {
  height: calc(100% - 50px);
  overflow-y: auto;
  padding-right: 20px;
}

.create-message {
  height: 50px;
  display: flex;
}

.create-message input[type="text"]{
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
  width: 85%;
  padding: 0 10px;
}

.create-message input[type="submit"]{
  width: 15%;
  background: #3e85d1;
  border: 1px solid #ccc;
  color: #fff;
  border: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}

.create-message input[type="submit"]:hover,
.create-message input[type="submit"]:focus {
  opacity: 0.8;
}

.message {
  background: #e5e5e5;
  color: #333;
  border-radius: 0 10px 10px 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.message__user {
  font-weight: bold;
}

.message.message--me {
  background: #3e85d1;
  color: #fff;
  border-radius: 10px 0 10px 10px;
}